{% extends "base.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Selamat Datang di Database Sumbangan Penagggulangan CORONA VIRUS</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <p>Untuk menambahkan data charity, klik tombol <a href="../public/sumbangan/index">Charity</a></p><br />
        <p>Untuk melihat charity yang telah terinput, klik tombol <a href="../public/jenis">List Charity</a></p>
    </div>

 
{% endblock %}
